/* CLASSI GENERALI */
.star{
    /* text-align: center; */
}
/* STILE DELLA PAGINA */
#testata{
    /* debug */
    height: 85px;
    background-color: blue;
}

/* logo */
.nav_logo{
    min-height: 85px;
    display: flex;
    align-items: center;
    /* debug */
    
}

/* barra di navigazione */
nav{
    min-height: 85px;
    display: flex;
    /* debug */
    background-color: red;
}


/* sezione hero */
#hero{
    /* debug */
    background-color: #1ABC9C;
    min-height: 500px;

}

.box_hero{
    text-align: center;
    color: white;
}

/* sezione portfolio */
.box_img{
    max-width: 100%;
    margin-bottom: 10px;
    
}

.box_img img{
    width: 100%;
    border-radius: 20px;
}

/* sezione about */
#about{
    background-color:  #1ABC9C;
    color: white;
}

.text{
    width: 80%;
    margin: 0 auto;
}

/* sezione form */
#form{
    /* debug */
    min-height: 600px;
}






/* footer */
/* sezione info */
#info{
    /* debug */
    background-color: #3A546D;
    min-height: 500px;
}

#privacy{
    /* debug */
    background-color: #2C3E50;
    min-height: 100px;
}