/* CLASSI GENERALI */
.star{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width: 20%;
    height: 2px;
    background-color: white;
    margin: 0 10px;
}
/* STILE DELLA PAGINA */

/* nav */
#testata{
    /* debug */
    height: 85px;
    background-color: #2C3E50;
    display: flex;
}

#testata .navbar{
    width: 100%;
}

#testata .bg-light{
    --bs-bg-opacity: 0;
}

#testata .navbar-brand{
    color: white;
}

#testata #navbarText{
    flex-grow: 0;
}

#navbarText ul li a{
    color: white;
}

.navbar-toggler{
    color: white;
    border-color: white;
}


/* sezione hero */
#hero{
    /* debug */
    background-color: #1ABC9C;
    min-height: 500px;
    padding: 10PX 0;

}

.box_hero{
    text-align: center;
    color: white;
}

.box_hero h2{
    font-size: 38px;
    font-weight: 700;
    margin: 10px 0;
}

#avatar{
    width: 80%;

}

.sub_title{
    font-weight: 700;
    font-size: 18px;
   
}

/* sezione portfolio */
.box_img{
    max-width: 100%;
    margin-bottom: 10px;
    
}

.box_img img{
    width: 100%;
    border-radius: 20px;
}

/* sezione about */
#about{
    background-color:  #1ABC9C;
    color: white;
}

.text{
    width: 80%;
    margin: 0 auto;
}

/* sezione form */
#form{
    /* debug */
    min-height: 600px;
}






/* footer */
/* sezione info */
#info{
    /* debug */
    background-color: #3A546D;
    min-height: 500px;
}

#privacy{
    /* debug */
    background-color: #2C3E50;
    min-height: 100px;
}