/* CLASSI GENERALI */
.star{
    /* text-align: center; */
}
/* STILE DELLA PAGINA */
#testata{
    /* debug */
    height: 85px;
    background-color: blue;
}

/* logo */
.nav_logo{
    min-height: 85px;
    display: flex;
    align-items: center;
    /* debug */
    
}

/* barra di navigazione */
nav{
    min-height: 85px;
    display: flex;
    /* debug */
    background-color: red;
}


/* sezione hero */
#hero{
    /* debug */
    background-color: #1ABC9C;
    min-height: 500px;

}

.box_hero{
    text-align: center;
    color: white;
}

/* sezione portfolio */
.box_img{
    max-width: 100%;
    margin-bottom: 10px;
    
}

.box_img img{
    width: 100%;
    border-radius: 20px;
}